@model IEnumerable<TekkenTI2.Models.Personagens>
@{
    ViewBag.Title = "Personagens";
}

<style>
    body {
        background-image: url(../../FundoPersonagens/Fundo3.jpg);
    }
</style>

<div style="font-family: 'Lucida Console'; text-align: left;color: red; font-size: 40px;font-weight: bold; margin-left:220px; margin-top:40px;">
    Conheça todas as personagens!
</div>
<div style="display:flex; flex-wrap:wrap; flex-direction:row; justify-content:space-around; align-content:center; margin-top:40px;">
    @foreach (var item in Model)
    {

        <div style="padding-top: 15px">
            <a href="/Personagens/Details/@item.ID">
                <img src="~/ImagensPers/@item.Fotografia" width="250" height="310" />
            </a>
        </div>
    }
</div>



@if (User.IsInRole("UtilizadorLogado") || User.IsInRole("Administrador"))
{
    <div style="padding-top: 50px; margin-top: 200px; margin-left: 700px;">
        @Html.ActionLink("Adicionar nova personagem", "Create")
    </div>
}


